{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div>
        <p>Orders for profile: {{ profile }}</p>
    </div>
    <h2>Fulfilled Orders</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                {% for order in orders %}
                {% if order.image %}
                <div class="card mt-3 mb-3 text-center">
                    <span>
                        <p>Order Number:</p>
                        <span>{{ order.order_number }}</span>
                        <span>
                            <img class="card-img-top img-fluid mt-4" src="{{ order.image.url }}"
                                alt="{{ order.service }}">
                        </span>
                    </span>
                    <span class="mt-4">Order Date: {{ order.date }}</span>
                    <span>Paid: ${{ order.total }}</span>
                    <span>Service ordered: {{ order.service }}</span>
                    <div class="my-4 text-center">
                        <a href="{% url 'request_changes' order.order_number %}"
                            class="btn btn-outline-secondary btn-sm me-2">Request Changes</a>
                    </div>
                </div>
                {% else %}
                <h2 class="mt-4">Non-fulfilled Orders</h2>
                <div class="card mt-3 mb-3 text-center">
                    <span class="my-4">
                        Order Number: {{ order.order_number }}
                    </span>
                    <span>Order Date: {{ order.date }}</span>
                    <span>Paid: ${{ order.total }}</span>
                    <span class="mb-4">Service ordered: {{ order.service }}</span>
                    <span class="mb-4">Order Details: {{ order.description }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endblock %}