{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col">Orders Page</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 mx-auto">
        <div class="row h-100 mx-auto">
            {% for order in orders %}
            <div class="card order-card mx-auto">
                <span>Order Number: {{ order.order_number }}</span>
                <span>Order Type: {{ order.service}}</span>
                <span>Order Owner: {{ order.user_profile.user.email }}</span>
                <span>Order Description: {{ order.description}}</span>
            </div>
            {% endfor %}  
        </div>
    </div>

{% endblock %}