@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    height: 100%;
}

/*
body {
	background: url('/media/background_image.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 164px);
    
}
*/

#index-image{
    background: url('/media/background-image.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(80vh - 100px);
    width: 100%;
    top: 120px;     
}
.page-background{
    background: url('/media/page-background.jpg') no-repeat center center fixed;
	background-size: cover;
    height: 100rem;;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;    
}

#page-background-overlay{
    background: rgba(0, 0, 0, 0.65);
    height:100%;
    width: 100%;
}

.cutaway{
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
        clip-path: polygon(0 0, 0 100%, 100% 55%, 100% 100%, 100% 0);
    overflow: hidden;
}



.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

#header-container{
    margin-bottom: 10rem;
}

#logo-text {
    font-family: 'Permanent Marker', cursive;
    color: green;
}

#topnav{
    color: white;
    float: right;
    margin-left: 10rem;
}

.navbar-toggler-icon{
    color: white !important;
    z-index: 10;
}

.navbar{
    width: 100%
}

.navbar-nav{
    margin-left: 22rem;
}

.nav-item{
    color: white;
}

#nav-col{
    padding: 0 !important;
}

.page-body{
    margin-top:10rem;
    z-index: -2;
}

#product-details{
    padding-top: 5rem;
    width: 100%;
    background-color: grey;
    color: white;
    padding-left: 0;
    padding-right: 0;
}

.product-details-container{
    margin-right: 10rem;
}

#product-card{
    margin: 20px;
}

#card-element{
    border: 1px solid black;
    border-radius: 5px;
}

.logo-font {
    text-transform: uppercase;
}



.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

#description-field{
    width: 90%;
    
}


/* Orders Page ----------------------- */

.order-card{
    margin: 2em;
}


/* MEDIA QUERIES -----------------------*/

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

 /* to make the navbar open full screen on mobile */
 @media (max-width: 768px) {
    #navbar-content {
      height: 100vh;
   }
 }

 @media (max-width: 768px) {
    .navbar-toggler{
        margin-left: 17rem;
    }
    .navbar-nav{
        margin-left: 15rem;
    }
    
    #nav-span{
        width: 60%;
    }
 }

 