{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <!-- Product details page -->
    <div class="container-fluid text-center txt-shadow">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="image-container shadow my-5 mt-4">
                    <!-- Product image -->
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top border border-dark img-fluid" src="{{ product.image.url }}" alt="{{ product.service_type }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top border border-dark img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.service_type }}">
                    </a>
                    {% endif %}
                    <!-- END product image -->
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-5 mt-md-5">
                    <!-- name and description -->
                    <h1 class="mb-0">{{ product.service_type }}</h1>
                    <hr class="mb-5 mt-0">
                    <p class="mb-3 fs-5">{{ product.description }}</p>
                    <p class="text-center">
                        <span class="text-uppercase">Other Info:</span>
                        <br>
                        <span class="">more info here</span>
                    </p>
                    
                    <!-- Price -->
                    <div class="mt-3">
                        <span class="mt-3">Price:</span>
                        <span class="">{{ product.price }}</span>
                    </div>
                    <!-- Back to Products and Order now buttons -->
                        <div class="row">
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-back rounded-2 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Back</span>
                                </a>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'checkout' product.id %}" class="btn btn-outline-success rounded-2 mt-5">
                                    <span class="text-uppercase">Order Now</span>
                                    <span class="icon">
                                        <i class="fas fa-chevron-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- product reviews -->
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="text-uppercase text-center mb-3">Reviews</h2>
                <hr>
                <div class="reviews-container text-center">
                    <!-- Review card -->
                    {% for review in reviews.all %}
                    <div class="card mt-5 rounded-2">
                        <div class="card-body">
                            <p class="small text-start">By {{ review.user }} on {{ review.date|date:"d-m-y" }}</p>
                            <p class="card-title text-capitalize">{{ review.review_title }}
                            <i class="fas fa-star"></i>
                            {{ review.rating }}/5    
                            </p>
                            <p class="card-text">{{ review.comment }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <div class="text-center my-4">
                        <p class="fs-5">No reviews yet</p>
                        <hr>
                    </div>
                    {% endfor %}
                    <!-- END Review card -->
                </div>
            </div>
        </div>
        <!-- End product reviews -->
        <!-- Review form -->
        <div id="review-form" class="row justify-content-center">
            <div class="col-12 col-md-6">
                {% if request.user.is_authenticated %}
                <h3 class="text-center my-2 text-uppercase mb-3">Leave a review</h3>
                {% else %}
                <p class="text-center my-3">
                    <a class="btn btn-back" href="{% url 'account_signup' %}">Signup</a>
                    or
                    <a class="btn btn-landing-page" href="{% url 'account_login' %}">Login</a>
                    to write a review
                </p>
                {% endif %}
                {% if request.user.is_authenticated %}
                <form action="#" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center mt-3">
                        <button class="btn btn-outline-info rounded-2 text-uppercase" type="submit">Submit Review</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        <!-- End Review form -->
    </div>
{% endblock %}


{% block postload_js %}
    {{ block.super }}
{% endblock %}